<ion-view view-title="OpenAPP">
  <ion-content data-tap-disabled='true'>

    <div class="list card">

      <!--<div class="item item-avatar">-->
        <!--<img src="img/icon.png">-->
        <!--<h2>OpenApp</h2>-->
        <!--<p></p>-->
      <!--</div>-->

      <div class="item item-body">
        <img class="full-image" src="img/icon.png">
        <p style="text-align:center;">
          OpenApp est une application mobile qui va vous permettre de visualiser les jeux de données ouvertes pubiliés sur OpenData-Maroc 2.0
        </p>

      </div>

    </div>


  </ion-content>
</ion-view>
