<ion-view view-title="Event">
  <ion-content>
    <h1>Event</h1>
<!-- 
    <div class="mainContainer" data-ng-app="RavensApp">
		<h1>Baltimore Ravens</h1>

		<input type="text" data-ng-model="search.$">

		<div data-ng-controller="ravensCtrl">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Player</th>
						<th>Position</th>
						<th>Number</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="player in players | filter:search | orderBy:'name' | limitTo: 3">
						<td>{{player.name}}</td>
						<td>{{player.position}}</td>
						<td>{{player.number}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div> -->
  </ion-content>
</ion-view>


















<!-- 
	<div class="mainContainer" data-ng-app="RavensApp">
		<h1>Baltimore Ravens</h1>

		<input type="text" data-ng-model="search.$">

		<div data-ng-controller="ravensCtrl">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Player</th>
						<th>Position</th>
						<th>Number</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="player in players | filter:search | orderBy:'name' | limitTo: 3">
						<td>{{player.name}}</td>
						<td>{{player.position}}</td>
						<td>{{player.number}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div> -->

