<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-balanced">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-balanced">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>

      <div class="list">

        <a menu-close  class="item item-icon-left" href="#/app/education/educationElement">
          <i class="icon "> <img src="img/education.png"></i>
          <h2>Education</h2>
        </a>

        <a menu-close  class="item item-icon-left" href="#/app/societe/societeElement">
          <i class="icon"><img src="img/administration.png"></i>
          <h2>Administration</h2>
        </a>

        <a menu-close  class="item item-icon-left" href="#/app/tourisme/tourismeElement">
          <i class="icon "><img src="img/voyage.png"></i>
          <h2>Voyage</h2>
        </a>

        <a menu-close  class="item item-icon-left" href="#/app/sante/santeElement">
          <i class="icon "> <img src="img/sante.png"></i>
          <h2>Santé</h2>
        </a>

        <a menu-close  class="item item-icon-left" href="#/app/cartographie/cartographieElement">
          <i class="icon"> <img src="img/cartographie.png"></i>
          <h2>Cartographie</h2>
        </a>

        <a menu-close  class="item item-icon-left" href="#/app/RD/rdElement">
          <i class="icon"> <img src="img/rd.png"> </i>
          <h2>R&D</h2>
        </a>

      </div>


    </ion-content>
  </ion-side-menu>
</ion-side-menus>
