<ion-view view-title="Agence Voyage">

  <ion-content>

    <div class="item item-input-inset">
      <label class="item-input-wrapper" name="ecole">
        <input ng-model= "searchTxt"  type="text" placeholder="Search">
      </label>
      <button  class="button button-small" ng-click="doSearch(searchTxt)">
        Submit
      </button>
    </div>

    <ion-list>
      <ion-item ng-repeat="agenceVoy in agenceVoys"  item="agenceVoy" href="#/app/tourisme/detailAgenceVoy/{{ agenceVoy._id }}" class="item-remove-animate item-text-wrap">
        <h3>{{ agenceVoy._id }}-
          {{ agenceVoy.Nom }}</h3>
        <p>{{ agenceVoy.Ville }} </p>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>

