<ion-view view-title="Detail Agence de Voyage">

  <ion-content>

    <div class="list card">

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon"><img src="img/airplane.png"></i>
        <h3>{{ agenceVoy['Raison Sociale'] }}</h3>
        <p>{{ agenceVoy.Adresse }} </p>
        <p>{{ agenceVoy.Ville }} </p>
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon"><img src="img/telephone.png"></i>
        {{ getCoordAgence(agenceVoy)[0] }}
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon"><img src="img/fax.png"></i>
        {{ getCoordAgence(agenceVoy)[1]}}
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon "><img src="img/mail.png"></i>
        {{ getCoordAgence(agenceVoy)[3] }}
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon "><img src="img/mail.png"></i>
        {{ agenceVoy['Année'] }}
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon "><img src="img/mail.png"></i>
        {{ agenceVoy["Agréments"] }}
      </a>

    </div>



    <div class="card" style="height:400px;">


      <ui-gmap-google-map center='mapConfig.center' zoom='mapConfig.zoom' control="mapConfig.control">
        <ui-gmap-marker  ng-repeat="m in allMarkerAgenceVoy" coords="m.coord"  idkey="m.id"></ui-gmap-marker>
      </ui-gmap-google-map>

    </div>


  </ion-content>


</ion-view>
