<ion-view view-title="Detail Hotel">

  <ion-content >

    <div class="list card">

      <a class="item item-icon-left item-text-wrap">
        <i class="icon"><img src="img/hotel.png"></i>
        <h3>{{ hotel["Hébergement"] }}</h3>
        <p>{{ hotel.Adresse }} </p>
        <p>{{ hotel.Province }} </p>
      </a>

      <a class="item item-icon-left item-text-wrap">
        <i class="icon"><img src="img/telephone.png"></i>
        {{ hotel["Tél"] }}
      </a>

      <a class="item item-icon-left item-text-wrap">
        <i class="icon"><img src="img/fax.png"></i>
        {{ hotel.Fax}}
      </a>

      <a class="item item-icon-left item-text-wrap">
        <i class="icon"><img src="img/star.png"></i>
        {{ hotel["Catégorie/classement"]}}
      </a>

      <a class="item item-icon-left item-text-wrap">
        <i class="icon "><img src="img/mail.png"></i>
        {{ hotel["e-mail"] }}
      </a>

    </div>

    <div class="card" style="height:400px;">

      <ui-gmap-google-map center='mapConfig.center' zoom='mapConfig.zoom' control="mapConfig.control" scroll="false" data-tap-disabled="true">
        <ui-gmap-marker  ng-repeat="m in allMarkerHotel" coords="m.coord"  idkey="m.id"></ui-gmap-marker>
      </ui-gmap-google-map>

    </div>

  </ion-content>

</ion-view>

