<ion-view view-title="Detail du guide">

  <ion-content>

    <div class="list card">

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon"><img src="img/businessman.png"></i>
        <h3>{{ guideTour.Nom }} {{ guideTour['Prénom'] }}</h3>
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon"><img src="img/cartographie.png"></i>
        {{ guideTour['Langue de travail'] }}
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon"><img src="img/tag1.png"></i>
        {{ guideTour['Catégorie'] }}
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon"><img src="img/city.png"></i>
        {{ guideTour.Ville }}
      </a>

    </div>


  </ion-content>


</ion-view>

