<ion-view view-title=" Guides touristiques">

  <ion-content>

    <div class="item item-input-inset">
      <label class="item-input-wrapper" name="ecole">
        <input ng-model= "searchTxt"  type="text" placeholder="Search">
      </label>
      <button  class="button button-small" ng-click="doSearch(searchTxt)">
        Submit
      </button>
    </div>

    <ion-list>
      <ion-item ng-repeat="guideTour in guideTours" class="item item-icon-left item-text-wrap"  item="guideTour" href="#/app/tourisme/detailGuideTour/{{ guideTour._id }}">
        <i class="icon"><img src="img/businessman.png"></i>
        <h3>{{ guideTour.Nom }} {{ guideTour['Prénom'] }} </h3>
        <p>{{ guideTour.Ville }} </p>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>


