<ion-view view-title="Hotels">

  <ion-content>

    <div class="item item-input-inset">
      <label class="item-input-wrapper" name="ecole">
        <input ng-model= "searchTxt"  type="text" placeholder="Search">
      </label>
      <button  class="button button-small" ng-click="doSearch(searchTxt)">
        Submit
      </button>
    </div>

    <div class="list">
      <a ng-repeat="hotel in hotels" class="item item-icon-left item-text-wrap"  item="hotel" href="#/app/tourisme/detailHotel/{{ hotel._id }}">
        <i class="icon"><img src="img/hotel.png"></i>
        <h3>{{ hotel.Nom }}</h3>
        <p>{{ hotel.Province }} </p>
      </a>
    </div>

  </ion-content>
</ion-view>

