<ion-view view-title="Agences CNSS">

  <ion-content>

    <div class="item item-input-inset">
      <label class="item-input-wrapper" name="ecole">
        <input ng-model= "searchTxt"  type="text" placeholder="Search">
      </label>
      <button  class="button button-small" ng-click="doSearch(searchTxt)">
        Submit
      </button>
    </div>

    <div class="list">

      <a ng-repeat="agenceCnss in agenceCnsss" class="item item-icon-left item-text-wrap" href="#/app/sante/detailCnss/{{ agenceCnss._id }}">
        <i class="icon"><img src="img/sante.png"></i>
        <h3>Agence: {{ agenceCnss.AGENCE }}</h3>
        <p>{{ agenceCnss.VILLE }} </p>
      </a>
    </div>

  </ion-content>
</ion-view>

