<ion-view view-title="Detail medicament">

  <ion-content>

    <div class="list card">

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon"><img src="img/medicine.png"></i>
        <h3>{{ medicament.NOM }}</h3>
        <p>{{ medicament.DCI1 }} </p>
        <p>{{ medicament.PRESENTATION }} </p>
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon"><img src="img/dosage.png"></i>
        Dosage: {{ medicament.DOSAGE1 }} {{ medicament.UNITE_DOSAGE1}}
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon"><img src="img/drugs.png"></i>
        {{ medicament.FORME}}
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon"><img src="img/chemistry.png"></i>
        <p> PPV: {{ medicament.PPV}}</p>
        <p> PH: {{ medicament.PH}}</p>
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon"><img src="img/money1.png"></i>
        Prix: {{ medicament.PRIX_BR }} DH
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon"><img src="img/tag1.png"></i>
        PRINCEPS/GENERIQUE: {{ medicament.PRINCEPS_GENERIQUE }}
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon"><img src="img/money2.png"></i>
        Remboursement: {{ medicament.TAUX_REMBOURSEMENT }}
      </a>

    </div>

  </ion-content>


</ion-view>
