<ion-view view-title="Detail Centre Santé">

  <ion-content>

    <div class="list card">

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon ion-medkit"></i>
        <h3>{{ centreSante["Nom Etab"] }}</h3>
        <p>{{ centreSante.Province }} </p>
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon ion-location"></i>
        {{ centreSante.Commune}}
      </a>

    </div>
    <div class="card">
    <div>
      <ui-gmap-google-map center='mapConfig.center' zoom='mapConfig.zoom' control="mapConfig.control">
        <ui-gmap-marker  ng-repeat="m in allMarkerCentreSante" coords="m.coord"  idkey="m.id"></ui-gmap-marker>
      </ui-gmap-google-map>

    </div>
    </div>

  </ion-content>


</ion-view>
