<ion-view view-title="Detail medicament">

  <ion-content>

    <div class="list card">

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon"><img src="img/sante.png"></i>
        <h3>{{ dispMed["libellé complet"]}}</h3>
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon"><img src="img/money1.png"></i>
        <h3>{{ dispMed["Tarif National de Référence"]}} DH</h3>
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon"><img src="img/information.png"></i>
        <H3>Prescription médicale du dispositif en  </H3>
        <h3>précisant la quantité + devis d'achat </h3>
        <h3>ou facture.</h3>
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon"><img src="img/tag1.png"></i>
        <h3>CNOPS: {{ dispMed["Code CNOPS"] }}</h3>
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon"><img src="img/tag2.png"></i>
        ANAM: {{ dispMed["code ANAM"] }} {{ dispMed.UNITE_DOSAGE1}}
      </a>



    </div>

  </ion-content>


</ion-view>
