<ion-view view-title="Detail medicament">

  <ion-content>

    <div class="list card">

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon ion-ios-medkit"></i>
        <h3>CNOPS: {{ dispMed["Code CNOPS"] }}</h3>
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon ion-ios-telephone"></i>
        ANAM: {{ dispMed["code ANAM"] }} {{ dispMed.UNITE_DOSAGE1}}
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon ion-ios-medical"></i>
        <p>{{ dispMed["libellé complet"]}}</p>
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon ion-social-usd"></i>
        <h3>{{ dispMed["Tarif National de Référence"]}} DH</h3>
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon ion-information-circled"></i>
        <p>Prescription médicale du dispositif en  </p>
        <p>précisant la quantité + devis d'achat </p>
        <p>ou facture.</p>
      </a>

    </div>

  </ion-content>


</ion-view>
