<ion-view view-title="Dispositifs médicaux admis au rembourssement">

  <ion-content>

    <div class="item item-input-inset">
      <label class="item-input-wrapper" name="ecole">
        <input ng-model= "searchTxt"  type="text" placeholder="Search">
      </label>
      <button  class="button button-small" ng-click="doSearch(searchTxt)">
        Submit
      </button>
    </div>


    <div class="list">

      <a ng-repeat="dispMed in dispMeds" class="item item-icon-left item-text-wrap" href="#/app/sante/detailDispMed/{{ dispMed._id }}">
        <i class="icon ion-medkit"></i>
        <h3>
          {{ dispMed.DCI1 }}
        </h3>
      </a>
    </div>

  </ion-content>
</ion-view>

