<ion-view view-title="Medicaments">

  <ion-content>

    <div class="item item-input-inset">
      <label class="item-input-wrapper" name="ecole">
        <input ng-model= "searchTxt"  type="text" placeholder="Search">
      </label>
      <button  class="button button-small" ng-click="doSearch(searchTxt)">
        Submit
      </button>
    </div>


    <div class="list">

      <a ng-repeat="medicament in medicaments" class="item item-icon-left item-text-wrap" href="#/app/sante/detailMedicament/{{ medicament._id }}">
        <i class="icon"><img src="img/medicine.png"></i>
        <h3>
          {{ medicament.NOM }} - {{ medicament.DCI1 }}
        </h3>
        <p>{{ medicament.PRESENTATION }} </p>
      </a>
    </div>

  </ion-content>
</ion-view>

