<ion-view view-title="Centres d'Appels Administratifs">

  <ion-content>

    <div class="item item-input-inset">
      <label class="item-input-wrapper" name="ecole">
        <input ng-model= "searchTxt"  type="text" placeholder="Search">
      </label>
      <button  class="button button-small" ng-click="doSearch(searchTxt)">
        Submit
      </button>
    </div>

    <div class="list">

      <a ng-repeat="centreAppel in centreAppels" class="item item-icon-left item-text-wrap" href="#/app/societe/detailCentreAppel/{{ centreAppel._id }}">
        <i class="icon "> <img src="img/telemarketer.png"></i>
        <h3>{{ centreAppel.Nom}} </h3>
        <p>{{ centreAppel.NomCentre }} </p>
      </a>
    </div>

  </ion-content>
</ion-view>
