<ion-view view-title="Detail Lien e-Gov">

  <ion-content>

    <div class="list card">

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon ion-home"></i>
        <h3>{{ lienGov["Intitulé"] }}</h3>
        <p>{{ lienGov.Adresse }} </p>
        <p>{{ lienGov.Ville }} </p>
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon ion-at"></i>
        <h3>{{ lienGov.lien }}</h3>
        <h3>{{ lienGov.liens }}</h3>
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon ion-ios-telephone"></i>
        Cible: {{ lienGov.Cible }}
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon ion-ios-printer"></i>
        {{ lienGov.Statut}}
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon ion-at"></i>
        Type: {{ lienGov.Type }}
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon ion-at"></i>
        Porteur: {{ lienGov.Porteur }}
      </a>
    </div>

  </ion-content>


</ion-view>

