<ion-view view-title="Detail Tele-Service">

  <ion-content>

    <div class="list card">

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon "> <img src="img/administration.png"></i>
        <h3>{{ teleService["Nom de l'entité"] }}</h3>
        <h3>{{ teleService["Nom du Télé-Service"] }}</h3>
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon "> <img src="img/browser.png"></i>
        <h3>{{ teleService["Adresse d’accès"] }}</h3>
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon "> <img src="img/information.png"></i>
        {{ teleService["Description du Télé-Service"]}}
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon"><img src="img/sector.png"></i>
        Secteur: {{ teleService.Secteur }}
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon"><img src="img/tag1.png"></i>
        Menu ou rubrique sur le site: {{ teleService["Menu ou rubrique sur le site"]}}
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon"><img src="img/tag2.png"></i>
        Niveau de dématérialisation: {{ teleService["Niveau de dématérialisation"] }}
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon"><img src="img/tag3.png"></i>
        Nature du Télé-Service : {{ teleService["Nature du Télé-Service"] }}
      </a>


    </div>

  </ion-content>


</ion-view>
