<ion-view view-title="Detail Lien e-Gov">

  <ion-content>

    <div class="list card">

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon "><img src="img/school.png"></i>
        <h3>{{ lienGov["Intitulé"] }}</h3>
        <p>{{ lienGov.Adresse }} </p>
        <p>{{ lienGov.Ville }} </p>
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon "><img src="img/browser.png"></i>
        <h3>{{ lienGov.lien }}</h3>
        <h3>{{ lienGov.liens }}</h3>
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon "><img src="img/target.png"></i>
        Cible: {{ lienGov.Cible }}
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon "><img src="img/tag1.png"></i>
        Statut: {{ lienGov.Statut}}
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon "><img src="img/tag2.png"></i>
        Type: {{ lienGov.Type }}
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon "><img src="img/tag3.png"></i>
        Porteur: {{ lienGov.Porteur }}
      </a>
    </div>

  </ion-content>


</ion-view>

