<ion-view view-title="Detail Centre d'Appel">

  <ion-content>

    <div class="list card">

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon "> <img src="img/administration.png"></i>
        <h3>{{ centreAppel["Nom de l'entité"] }} </h3>
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon "> <img src="img/telemarketer.png"></i>
        <h3>{{ centreAppel["Nom du centre d'appels"]}}</h3>
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon"><img src="img/telephone.png"></i>
        {{ centreAppel["Numéro du centre d'appels"] }}
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon"><img src="img/tag1.png"></i>
        Groupe: {{ centreAppel.Groupe}}
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon"><img src="img/sector.png"></i>
        Secteur: {{ centreAppel.Secteur }}
      </a>
    </div>

  </ion-content>


</ion-view>
