<ion-view view-title="Population du Maroc par année">
  <ion-content data-tap-disabled='true'>


    <div class="card">
      <div class="item item-text-wrap">
        <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series">
        </canvas>
        <p style="text-align:center;"> Population marocaine par sex en Milliers</p>

      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap">
        <canvas id="bar" class="chart chart-bar" chart-data="dataA" chart-labels="labelsA" chart-series="seriesA">
        </canvas>
        <p style="text-align:center;"> Population Totale en Milliers</p>

      </div>
    </div>

  </ion-content>
</ion-view>

