<ion-view view-title="Detail Poste Maroc">

  <ion-content>
    <div class="list card">

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon"> <img src="img/school.png"></i>
        <h3>{{ posteMaroc.CODE_MECANO }}</h3>
        <h3>{{ posteMaroc.RESEAU }} </h3>
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon"> <img src="img/city.png"></i>
        <h3>Commune: {{ posteMaroc.COMMUNE }}</h3>
        <h3>Province: {{ posteMaroc.PROVINCE }}</h3>
        <h3>Ville: {{ posteMaroc.NOM_REGION }}</h3>

      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon"> <img src="img/address.png"></i>
        <h3>{{ posteMaroc.ADRESSE }}</h3>
      </a>

    </div>




    <div class="card" style="height:400px;">

      <ui-gmap-google-map center='maps.center' zoom='maps.zoom'>
        <ui-gmap-marker ng-repeat="m in myMarkers" coords="m.coord"  idkey="m.id"></ui-gmap-marker>
      </ui-gmap-google-map>

    </div>

  </ion-content>


</ion-view>
