<ion-view view-title="Detail Poste Maroc">

  <ion-content>
    <div class="list card">

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon ion-home"></i>
        <h3>{{ posteMaroc.CODE_MECANO }}</h3>
        <p>{{ posteMaroc.RESEAU }} </p>
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon ion-ios-telephone"></i>
        {{ posteMaroc.COMMUNE }}
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon ion-ios-printer"></i>
        {{ posteMaroc.PROVINCE }}
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon ion-at"></i>
        {{ posteMaroc.NOM_REGION }}
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon ion-at"></i>
        {{ posteMaroc.ADRESSE }}
      </a>

    </div>




    <div>

      <ui-gmap-google-map center='maps.center' zoom='maps.zoom'>
        <ui-gmap-marker ng-repeat="m in myMarkers" coords="m.coord"  idkey="m.id"></ui-gmap-marker>
      </ui-gmap-google-map>

    </div>

  </ion-content>


</ion-view>
