<ion-view view-title="Liste des agences de Poste Maroc avec coordonnées spatiales">

  <ion-content>

    <div class="item item-input-inset">
      <label class="item-input-wrapper" name="ecole">
        <input ng-model= "searchTxt"  type="text" placeholder="Search">
      </label>
      <button  class="button button-small" ng-click="doSearch(searchTxt)">
        Submit
      </button>
    </div>

    <div class="list">
      <a ng-repeat="posteMaroc in posteMarocs" class="item item-icon-left item-text-wrap" href="#/app/cartographie/detailPosteMaroc/{{posteMaroc._id}}">
        <i class="icon ion-university"></i>
        <h3>{{ posteMaroc.RESEAU }}</h3>
        <h3>{{ posteMaroc.NOM_REGION }} </h3>
      </a>
    </div>

  </ion-content>
</ion-view>
