<ion-view view-title="Detail Ecole Lyc">

  <ion-content>

    <div class="list card">

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon "><img src="img/school.png"></i>
        <h3>{{ ecoleLyc.NOM_ETABLISSENTFR }}</h3>
        <p>{{ ecoleLyc.ADRESSEFR }} </p>
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon "><img src="img/telephone.png"></i>
        {{ ecoleLyc.TELEPHONE }}
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon ion-at"></i>
        {{ ecoleLyc.ADRESSEAR }}
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon ion-ios-printer"></i>
        {{ ecoleLyc.REGION }}
      </a>

    </div>

    <div class="card" style="height:400px;">


      <ui-gmap-google-map center='mapConfig.center' zoom='mapConfig.zoom' control="mapConfig.control">
        <ui-gmap-marker  ng-repeat="m in allMarkerEcoleLyc" coords="m.coord"  idkey="m.id"></ui-gmap-marker>
      </ui-gmap-google-map>

    </div>




  </ion-content>


</ion-view>
