<ion-view view-title="Detail Ecole Primaire">

  <ion-content>

    <div class="list card">

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon "><img src="img/school.png"></i>
        <h3>{{ ecolePrim.NOM_ETABLISSENTFR }}</h3>
        <p>{{ ecolePrim.ADRESSEFR }} </p>
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon "><img src="img/telephone.png"></i>
        {{ ecolePrim.TELEPHONE }}
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon "><img src="img/information.png"></i>
        {{ ecolePrim.ADRESSEAR }}
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon "><img src="img/city.png"></i>
        {{ ecolePrim.REGIN }}
      </a>

    </div>

    <div class="card" style="height:400px;">


      <ui-gmap-google-map center='mapConfig.center' zoom='mapConfig.zoom' control="mapConfig.control">
        <ui-gmap-marker  ng-repeat="m in allMarkerEcolePrim" coords="m.coord"  idkey="m.id"></ui-gmap-marker>
      </ui-gmap-google-map>

    </div>




  </ion-content>


</ion-view>
