<ion-view view-title="Detail university">

  <ion-content>

    <div class="list card">

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon "><img src="img/school.png"></i>
        <h3>{{ university.Nom }}</h3>
        <p>{{ university.Adresse }} </p>
        <p>{{ university.Ville }} </p>
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon "><img src="img/telephone.png"></i>
        {{ university["Téléphone"] }}
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon"><img src="img/fax.png"></i>
        {{ university.Fax}}
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon "><img src="img/mail.png"></i>
        {{ university["Site web"] }}
      </a>

    </div>



    <div class="card" style="height:400px;">


      <ui-gmap-google-map center='mapConfig.center' zoom='mapConfig.zoom' control="mapConfig.control">
        <ui-gmap-marker  ng-repeat="m in allMarkerUniversity" coords="m.coord"  idkey="m.id"></ui-gmap-marker>
      </ui-gmap-google-map>

    </div>


  </ion-content>


</ion-view>

