<ion-view view-title="{{ institutTechSci.Nom }}">

  <ion-content>

    <div class="list card">

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon ion-home"></i>
        <h3>{{ institutTechSci.Nom }}</h3>
        <p>{{ institutTechSci.Adresse }} </p>
        <p>{{ institutTechSci.Ville }} </p>
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon ion-ios-telephone"></i>
        {{ institutTechSci["Téléphone"] }}
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon ion-ios-printer"></i>
        {{ institutTechSci.Fax}}
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon ion-at"></i>
        {{ institutTechSci["Site web"] }}
      </a>

    </div>



    <div class="card" style="height:400px;">


      <ui-gmap-google-map center='mapConfig.center' zoom='mapConfig.zoom' control="mapConfig.control">
        <ui-gmap-marker  ng-repeat="m in allMarkerInstitutEcoJurSoc" coords="m.coord"  idkey="m.id"></ui-gmap-marker>
      </ui-gmap-google-map>

    </div>


  </ion-content>


</ion-view>
