<ion-view view-title="Detail Ecole">

  <ion-content>

    <div class="list card">

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon "><img src="img/school.png"></i>
        <h3>{{ ecole.NOM_ETABL }}</h3>
        <p>{{ ecole.Adresse }}, {{ ecole.Ville }} </p>
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon "><img src="img/telephone.png"></i>
        {{ ecole.TEL_ETAB }}
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon "><img src="img/mail.png"></i>
        {{ ecole["e-mail"] }}
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon ion-ios-printer"></i>
        {{ ecole.FAX_ETAB }}
      </a>

    </div>

    <div class="card" style="height:400px;">


    <ui-gmap-google-map center='mapConfig.center' zoom='mapConfig.zoom' control="mapConfig.control">
        <ui-gmap-marker  ng-repeat="m in allMarkerEcole" coords="m.coord"  idkey="m.id"></ui-gmap-marker>
      </ui-gmap-google-map>

    </div>




    </ion-content>


 </ion-view>
