<ion-view view-title="Liste des Ecoles Primaires">

  <ion-content>
    <div class="item item-input-inset">
      <label class="item-input-wrapper" name="ecole">
        <input ng-model= "searchTxt"  type="text" placeholder="Search">
      </label>
      <button  class="button button-small" ng-click="doSearch(searchTxt)">
        Submit
      </button>
    </div>

    <div class="list">

      <a ng-repeat="ecolePrim in allEcolePrims" class="item item-icon-left item-text-wrap" href="#/app/education/detailEcolePrim/{{ecolePrim._id}}">
        <i class="icon "> <img src="img/school.png"></i>
        <h3>{{ ecolePrim.NOM_ETABLISSENTFR }}</h3>
        <p>{{ ecolePrim.REGIN }} </p>
      </a>
    </div>

  </ion-content>
</ion-view>
