<ion-view view-title="Liste des Ecoles Primaires">

  <ion-content>
    <div class="item item-input-inset">
      <label class="item-input-wrapper" name="ecole">
        <input ng-model= "searchTxt"  type="text" placeholder="Search">
      </label>
      <button  class="button button-small" ng-click="doSearch(searchTxt)">
        Submit
      </button>
    </div>
    <ion-list>
      <ion-item ng-repeat="ecolePrim in allEcolePrims"  item="ecolePrim" href="#/app/education/detailEcolePrim/{{ecolePrim._id}}" class="item-remove-animate">
        <h3>
          {{ ecolePrim.NOM_ETABLISSENTFR }}</h3>
        <p>{{ ecolePrim.REGIN }} </p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
