<ion-view view-title="Liste des Ecoles colleg">

  <ion-content>
    <div class="item item-input-inset">
      <label class="item-input-wrapper" name="ecole">
        <input ng-model= "searchTxt"  type="text" placeholder="Search">
      </label>
      <button  class="button button-small" ng-click="doSearch(searchTxt)">
        Submit
      </button>
    </div>

    <div class="list">

      <a ng-repeat="ecoleColleg in allEcoleCollegs" class="item item-icon-left item-text-wrap" href="#/app/education/detailEcoleColleg/{{ecoleColleg._id}}">
        <i class="icon ion-university"></i>
        <h3>{{ ecoleColleg.NOM_ETABLISSENTFR }}</h3>
        <p>{{ ecoleColleg.REGION }} </p>
      </a>
    </div>

  </ion-content>
</ion-view>
