<ion-view view-title="Liste des Ecoles Lyc">

  <ion-content>
    <div class="item item-input-inset">
      <label class="item-input-wrapper" name="ecole">
        <input ng-model= "searchTxt"  type="text" placeholder="Search">
      </label>
      <button  class="button button-small" ng-click="doSearch(searchTxt)">
        Submit
      </button>
    </div>
    <ion-list>
      <ion-item ng-repeat="ecoleLyc in allEcoleLycs"  item="ecoleLyc" href="#/app/education/detailEcoleLyc/{{ecoleLyc._id}}" class="item-remove-animate">
        <h3>
          {{ ecoleLyc.NOM_ETABLISSENTFR }}</h3>
        <p>{{ ecoleLyc.REGION }} </p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
