<ion-view view-title="institutEcoJurSoc">

  <ion-content>

    <div class="item item-input-inset">
      <label class="item-input-wrapper" name="ecole">
        <input ng-model= "searchTxt"  type="text" placeholder="Search">
      </label>
      <button  class="button button-small" ng-click="doSearch(searchTxt)">
        Submit
      </button>
    </div>

    <ion-list>
      <ion-item ng-repeat="institutEcoJurSoc in institutEcoJurSocs"  item="institutEcoJurSoc" href="#/app/education/detailInstitutEcoJurSoc/{{ institutEcoJurSoc._id }}" class="item-remove-animate">
        <h3>{{ institutEcoJurSoc._id }}-
          {{ institutEcoJurSoc.Nom }}</h3>
        <p>{{ institutEcoJurSoc.Ville }} </p>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
