<ion-view view-title="Liste des Ecoles">

<ion-content>
  <div class="item item-input-inset">
    <label class="item-input-wrapper" name="ecole">
      <input ng-model= "searchTxt"  type="text" placeholder="Search">
    </label>
    <button  class="button button-small" ng-click="doSearch(searchTxt)">
      Submit
    </button>
  </div>

  <div class="list">

    <a ng-repeat="item in items" class="item item-icon-left item-text-wrap" href="#/app/education/detailEcole/{{item._id}}">
      <i class="icon "> <img src="img/school.png"></i>
      <h3>{{ item.NOM_ETABL }}</h3>
      <p>{{ item.Ville }} </p>
    </a>
  </div>

</ion-content>
</ion-view>

