<ion-view view-title="University">

  <ion-content>

    <div class="item item-input-inset">
      <label class="item-input-wrapper" name="ecole">
        <input ng-model= "searchTxt"  type="text" placeholder="Search">
      </label>
      <button  class="button button-small" ng-click="doSearch(searchTxt)">
        Submit
      </button>
    </div>

    <div class="list">

      <a ng-repeat="university in universities" class="item item-icon-left" href="#/app/education/detailUniversity/{{ university._id }}">
        <i class="icon ion-university"></i>
        <h3>{{ university.Nom }}</h3>
        <p>{{ university.Ville }} </p>
      </a>
    </div>

  </ion-content>
</ion-view>
