<ion-view view-title="University">

  <ion-content>

    <div class="item item-input-inset">
      <label class="item-input-wrapper" name="ecole">
        <input ng-model= "searchTxt"  type="text" placeholder="Search">
      </label>
      <button  class="button button-small" ng-click="doSearch(searchTxt)">
        Submit
      </button>
    </div>

    <ion-list>
      <ion-item ng-repeat="university in universities"  item="university" href="#/app/education/detailUniversity/{{ university._id }}" class="item-remove-animate">
        <h3>{{ university._id }}-
          {{ university.Nom }}</h3>
        <p>{{ university.Ville }} </p>
      </ion-item>
      </ion-list>

  </ion-content>
</ion-view>
