<ion-view view-title="Charts">
  <ion-content data-tap-disabled='true'>

    <div class="card">
   <h6 style="text-align:center;">Les statistiques du Fonds de Soutien de l’Innovation </h6>
    <h6 style="text-align:center;">et les références des projets soutenus par ce fonds</h6>
    </div>

    <div class="card">
      <h3 style="text-align:center;"> Fonds Intilak en DH</h3>

    </div>



    <div class="card">
      <div class="item item-text-wrap">
        <canvas id="radar" class="chart chart-radar"
                chart-data="data" chart-labels="labels">
        </canvas>

        <p style="text-align:center;"> Projet retenus lors de la 1ière  édition Intilak</p>
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap">
        <canvas id="radar" class="chart chart-radar"
                chart-data="dataA" chart-labels="labelsA">
        </canvas>

        <p style="text-align:center;"> Projet retenus lors de la 2ième  édition Intilak</p>
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap">
        <canvas id="radar" class="chart chart-radar"
                chart-data="dataB" chart-labels="labelsB">
        </canvas>

        <p style="text-align:center;"> Projet retenus lors de la 3ième  édition Intilak</p>
      </div>
    </div>

  </ion-content>
</ion-view>
