<ion-view view-title="Detail Expert">

  <ion-content>

    <div class="list card">

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon"> <img src="img/scientist.png"></i>
        <h3>{{ expert["Nom et Prénom"] }} </h3>
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon"> <img src="img/star.png"></i>
        {{ expert["Spécialité"] }}
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon"> <img src="img/school.png"></i>
        {{ expert.ETAB }}
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon"> <img src="img/mail.png"></i>
        {{ expert.Email }}
      </a>

      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon"><img src="img/telephone.png"></i>
        {{ expert.Tel }}
      </a>

    </div>

  </ion-content>


</ion-view>
