<ion-view view-title=" Experts Scientifiques">

  <ion-content>

    <div class="item item-input-inset">
      <label class="item-input-wrapper" name="ecole">
        <input ng-model= "searchTxt"  type="text" placeholder="Search">
      </label>
      <button  class="button button-small" ng-click="doSearch(searchTxt)">
        Submit
      </button>
    </div>

    <ion-list>
      <ion-item ng-repeat="expert in experts"  item="expert" href="#/app/RD/detailExpert/{{ expert._id }}" class="item-remove-animate">
        <h3>{{ expert._id }}-
          {{ expert.Nom }} </h3>
        <p>{{ expert.specialite}} </p>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
