<ion-view view-title=" Experts Scientifiques">

  <ion-content>

    <div class="item item-input-inset">
      <label class="item-input-wrapper" name="ecole">
        <input ng-model= "searchTxt"  type="text" placeholder="Search">
      </label>
      <button  class="button button-small" ng-click="doSearch(searchTxt)">
        Submit
      </button>
    </div>

    <ion-list>
      <ion-item ng-repeat="expert in experts"  class="item item-icon-left item-text-wrap" item="expert" href="#/app/RD/detailExpert/{{ expert._id }}">
        <i class="icon"> <img src="img/scientist.png"></i>
        <h3>{{ expert.Nom }} </h3>
        <h3>{{ expert.specialite}} </h3>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
