
<ion-view view-title="Charts">
  <ion-content data-tap-disabled='true'>

    <div class="card">
    <h6 style="text-align:center;">Les statistiques du Fonds de Soutien de l’Innovation </h6>
    <h6 style="text-align:center;">et les références des projets soutenus par ce fonds</h6>
    </div>

    <div class="card">
      <h3 style="text-align:center;"> Fonds Tatwir en DH</h3>

    </div>

    <div class="card">
      <div class="item item-text-wrap">
        <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels">
        </canvas>
        <p style="text-align:center;"> Tous les Projets retenus lors des éditions Tatwir</p>
      </div>
    </div>

  </ion-content>
</ion-view>
